


.login-wrap{
	width: 100%;
	
	margin:auto;
	max-width:510px;
	min-height:510px;
	position:relative;
	background:rgba(0, 0, 0, 0);


	
}
/*formany total*/
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(0,0,0,0.4);
}
.tab{
	color: #fff;
}
/*form kokoa*/
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
/*elanelany*/
.login-form .group{
	margin-bottom:15px;
}
/*mialigne*/
.login-form .group .label,
.login-form .group .input,
.login-form .group .btn{
	width:100%;
	color:#fff;
	display:block;
}
/*form round le input*/
.login-form .group .input,
.login-form .group .btn{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .btn{
	background:#1161ee;
}
